<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Méca-forum{% endblock %}</title>
        <link rel="icon" href="assets/img/favicon.png">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/slick-1.8.1/slick/slick.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/slick-1.8.1/slick/slick-theme.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/card.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/post.css') }}">
        {% endblock %}
    </head>
    <body id="body">
        <header>
            {% include '/partials/navbar.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {# TODO FAIRE LE FOOTER #}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assets/js/dropdown.js') }}"></script>
            <script src="https://kit.fontawesome.com/63367d301d.js" crossorigin="anonymous"></script>

            <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
            <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="{{ asset('assets/slick-1.8.1/slick/slick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/slick.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/vanilla-tilt.js') }}"></script>
        {% endblock %}
    </body>
</html>