{% extends 'base.html.twig' %}

{% block title %}Méca-forum - Touts les postes{% endblock %}

{% block body %}

    <div class="container_post">
        <!-- Section sidebar -->
        <section class="container_sidebar">
            <h1>sidebar</h1>
        </section>
        <section class="container_card_post">
            <ul class="card_group">
                {{ form_start(form) }}
                {% set comment_field_input = form_row(form.comment, {'attr': {'class': 'form-control'}}) %}
                <!-- Boucler sur tous les posts -->
                {% for post in posts %}

                    <li>
                        <div class="card_post">
                            <div class="card_header">
                                <!-- Si l'utilisateur a une photo de profil, l'afficher -->
                                {% if post.userPost.profilePicture is not null %}
                                    {% for image in images %}
                                        {% if image.id == post.userPost.profilePicture.id %}
                                            <div class="user_profile">
                                                <img src="{{ image.imageProfile }}" alt="photo de profile de {{ post.userPost.userInfo.pseudo }}">
                                                {{ post.userPost.userInfo.pseudo  }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Si l'utilisateur n'a pas de photo de profil, afficher une icône par défaut -->
                                {% else %}
                                    <i class="fa-solid fa-user"></i> {{ post.userPost.userInfo.pseudo  }}
                                {% endif %}
                            </div>

                                {% if post.image|length > 1 %}
                                    <div class="card_body">
                                        <!-- Si le message contient plusieurs images, les afficher dans une grille -->
                                        <ul class="slice">
                                            {% for image in post.image %}
                                                <li>
                                                    <img src="/assets/images/upload_post/{{ image.imagePost }}" alt="photo de profile de {{ post.userPost.userInfo.pseudo }}">
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% elseif post.image|length == 1 %}
                                    <div class="card_body">
                                        <!-- Si le message ne contient qu'une seule image, l'afficher comme une image unique -->
                                        <div class="img">
                                            {% for image in post.image %}
                                                <img src="/assets/images/upload_post/{{ image.imagePost }}" alt="photo de profile de {{ post.userPost.userInfo.pseudo }}">
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}

                            <div class="card_footer">
                                <!-- Afficher le titre du post -->
                            <span class="h3">
                                {{ post.title }}
                            </span>
                                <!-- Afficher la description du post -->
                                <p class="description">
                                    {{ post.description }}
                                </p>
                                <!-- Début du formulaire pour ajouter un commentaire -->
                                <div class="comment">

                                    <!-- Afficher le champ d'entrée pour le commentaire -->
                                    <div>
                                        {{ comment_field_input|raw }}
                                    </div>
                                    <!-- Fin du formulaire pour ajouter un commentaire -->
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {{ form_end(form) }}
            </ul>
        </section>

        <!--------------- Section aside -------------->
        <section class="container_aside">
            <h1>aside</h1>
        </section>
    </div>
{% endblock %}